@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,300,400,500,700|Roboto:100,300,400,500,700');

*{ 
	outline: 0 !important;
}

body, html{
	height: 100%;
	min-height: 100%;
	overflow-x: hidden;
}
.container-fluid{
	overflow-x: hidden;	
}
.row{
	margin-left: 0;
}

body{
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	font-weight: normal;
}
.container-fluid{
	padding: 0;
}
.flex-row{
	display: flex;
	flex-direction: row;
}
.flex-col{
	display: flex;
	flex-direction: column;
}

.drawer-hamburger-icon,
.drawer-hamburger-icon::after,
.drawer-hamburger-icon::before{
	background-color: #373a3c;
	height: 4px;
}
.content-small{
	display: none;
}

.icon{
	background: url(../images/icons.png) no-repeat;
	width: 26px;
	height: 25px;
}


.center-content{
	margin-left: auto;
	margin-right: auto;
	display: block;
}












